<!DOCTYPE html>
<html>
<head>
    <title>Fashion Gallery</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1 style="text-align:center; margin-top:30px;">
📸 Fashion Gallery
</h1>


    <div class="gallery">

    <div class="feature-box">
        <h3>👗 Fashion Style 1</h3>
        <p>Trending casual outfit inspiration.</p>
    </div>

    <div class="feature-box">
        <h3>✨ Fashion Style 2</h3>
        <p>Elegant party wear inspiration.</p>
    </div>

    <div class="feature-box">
        <h3>🧥 Fashion Style 3</h3>
        <p>Winter fashion collection.</p>
    </div>

</div>

</body>
</html>