<!DOCTYPE html>
<html>
<head>
    <title>StyleSync AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

    <div class="logo">StyleSync AI</div>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/recommendation">Recommendation</a>
        <a href="/wardrobe">Wardrobe</a>
        <a href="/profile">Profile</a>
    </nav>

</header>

<section class="hero">

    <div class="hero-content">

        <h1>StyleSync AI</h1>

        <p>Your Smart Daily Fashion Assistant</p>

        <a href="/recommendation" class="btn">
            Try AI Recommendation
        </a>

    </div>

</section>
<section class="features">

    <h2>✨ Our Features ✨</h2>

    <div class="feature-box">
        <div class="feature-card">
            <h3>🤖 AI Recommendation</h3>
            <p>Get outfit suggestions based on weather, occasion and your style.</p>
        </div>

        <div class="feature-card">
            <h3>👗 Virtual Wardrobe</h3>
            <p>Store your favourite clothes digitally in one place.</p>
        </div>

        <div class="feature-card">
            <h3>🖼 Fashion Gallery</h3>
            <p>Explore stylish outfit inspirations for every season.</p>
        </div>

        <div class="feature-card">
            <h3>✨ Smart Styling</h3>
            <p>Create trendy looks effortlessly with AI assistance.</p>
        </div>
    </div>

</section>
<section class="about">

    <h2>💜 About StyleSync AI</h2>

    <p>
        StyleSync AI is a smart fashion recommendation website developed as a
        Final Year Project. It helps users choose the perfect outfit based on
        weather, occasion, and personal style preferences. The aim is to make
        fashion decisions quick, simple, and personalized using AI-inspired
        recommendations.
    </p>

</section>

</body>
</html>